body {
    background: magenta;
}

.wrapper {
    width: 70%;
    margin: auto;
}

.tel {
    color: white;
    font-family: "Graphik LCG";
    position: relative;
    display: inline-block;
    padding-left: 60%;
    padding-right: 10px;
    padding-top: 40px;
}

.pre-tel {
    font-size: small;
    display: inline-block
}

.logo-gif {
    width: 16%;
    height: 3%;
    right: 19.5%;
    top: 2.4%;
    display: inline-block;
}

.container {
    cursor: pointer;
    width: 60px;
    height: 40px;
    display: inline-block;
    margin-top: 7px;
    margin: -7px;
    margin-left: 17px;
}

.bar1 {
    width: 60px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 10px 0;
    transition: 0.4s;
    margin-left: auto;
}

.bar2 {
    width: 40px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 10px 0;
    transition: 0.4s;
    margin-left: auto;
}

.bar3 {
    width: 20px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 10px 0;
    transition: 0.4s;
    margin-left: auto;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px) scale(1, 3);
    background-color: red;
}

.change .bar2 {
    transform: rotate(45deg) translate(-10px, 3px) scale(1.5, 3);
    background-color: red;
}

.change .bar3 {
    transform: rotate(45deg) translate(-9px, -2px) scale(1, 2);
    background-color: red;
}


/* .menu {
    display: none;
    overflow: hidden;
    position: fixed;
    background-color: #8a2be294;
    top: 10%;
    right: 10%;
    bottom: 10%;
    left: 10%;
    border-radius: 20%;
}

.change .menu {
    display: block;
} */

ul {
    display: flex;
    align-items: center;
    height: 50px;
}

ul a {
    margin-left: 10px;
}

.menu {
    display: none;
}

.trigger {
    display: inline-block;
    margin: 3px;
    cursor: pointer;
}

.trigger i {
    display: block;
    width: 30px;
    height: 6px;
    margin: 4px auto;
    background: #222;
}

.show {
    display: block;
}