/* canvas#oldSkool {
    display: inline-block;
    position: fixed;
    z-index: -1;
    margin-left: -10vw;
    width: 120%;
} */

::-webkit-scrollbar {
    /* background: linear-gradient(218deg, rgba(255, 255, 255, 1) 0%, rgba(241, 255, 125, 1) 15%, rgba(87, 255, 95, 1) 35%, rgba(196, 65, 169, 1) 54%, rgba(142, 62, 62, 1) 69%, rgba(14, 4, 87, 1) 88%, rgba(0, 0, 0, 0.6867121848739496) 100%); */
    width: 15px;
    background: inherit;
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(0 0 0);
    box-shadow: inset 0 0 0 1px #05173b;
    border: 2px solid #ffffff;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #4b4a4d;
}

 ::-webkit-scrollbar:hover {
    background: inherit;
    border-radius: 10px;
}

 ::-webkit-scrollbar:active {
    background: inherit;
    border: 2px solid #ffffff;
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb:active {
    background: #4b4a4d;
}

a,
.sec-contact .btn {
    -webkit-transition: all .25s;
    transition: all .25s;
}


/*=Typography=*/

html {
    font-size: 16px;
}

body {
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
}

.navbar a,
.sec-about p {
    text-align: center;
}

.navbar a {
    font-size: 16px;
}

.navbar .fa-external-link {
    font-size: 10px;
}

.main-heading {
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
    text-align: center;
    letter-spacing: 9px;
    text-transform: uppercase;
}

.main-heading a {
    border: 3px solid #0321a7;
    border-radius: 40px;
    padding: 0px 0px 0px 5px;
    margin-left: -6px;
    background: black;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0px 0px 110px 0px rgb(0 31 255);
}

.container>h1 {
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

.sec-about a {
    text-decoration: underline;
}

.sec-services h2,
.sec-services p {
    font-weight: 300;
    text-align: center;
}

.sec-testimonials p {
    font-style: italic;
}

.sec-contact .btn {
    text-transform: uppercase;
}

.soc-media-ul a {
    text-align: center;
    text-decoration: none;
}


/*=Base=*/

section {
    padding: 5em 0;
}

footer {
    padding: 3em 0;
}

@media screen and (max-width: 768px) and (min-width: 485px) {
    form {
        max-width: 70%;
    }
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

hr {
    margin-bottom: 3em;
    width: 7%;
}


/*=Layout=*/

.sec-folio img {
    max-width: 100%;
    margin: auto;
}


/*Header*/

div a.navbar-brand {
    font-size: xx-large;
}

.navbar-brand span {
    color: red;
    font-family: 'Roboto', sans-seri;
    font-weight: 900;
}

.navbar-default {
    background: #fff;
}

.navbar .fa-external-link {
    vertical-align: top;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #ad0000;
}

.navbar-default .navbar-nav>li>a:active {
    color: #940000;
}


/*Main*/

.sec-main {
    position: relative;
    height: 560px;
    background: url(https://source.unsplash.com/kVf7VRgg4p8/1920x1080) no-repeat center center;
    background-size: cover;
}

.sec-main:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.main-heading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    padding: 0;
    margin: auto;
    height: 40px;
    color: #fff;
}


/*About*/

.sec-about a {
    color: #000;
}

.sec-about a:hover,
.sec-about a:focus {
    color: #ad0000;
}


/*Services*/

.sec-services {
    background: #f9f9f9;
}

.sec-services i {
    display: block;
    margin: auto;
    width: 45px;
}

.sec-services .fa-paint-brush {
    width: 64px;
}

.sec-services .fa-code {
    width: 68px;
}

.sec-services h2 {
    margin: 1em 0;
}


/*Testimonials*/

.sec-testimonials {
    background: #f9f9f9;
}


/*Contact*/

.sec-contact .form-control:focus {
    border-color: #ad0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(173, 0, 0, 0.6);
}

.sec-contact .btn {
    padding: .5rem 1.75rem;
    background: #000;
    font-size: .95rem;
    color: #fff;
}

.sec-contact .btn:hover,
.sec-contact .btn:focus {
    background: #ad0000;
    border-color: #7a0000;
}


/*Footer*/

footer {
    background: #000;
}

.soc-media-ul {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.soc-media-ul li:not(:first-child) a {
    margin-left: 1em;
}

.soc-media-ul a {
    display: block;
    padding: 0.5em .65rem;
    font-size: 1rem;
    color: #fff;
    border-radius: 50%;
    border: 2px solid;
}

.soc-media-ul a:hover,
.soc-media-ul a:focus {
    color: #ad0000;
}


/* div a img:hover {
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 80%);
    transform: scale(1.05);
    transition-timing-function: ease;
    transition-duration: .5s;
    z-index: 1111;
} */

.col-md-4 {
    margin-bottom: 3rem;
}

.col-md-4,
.col-md-4>*,
.col-md-4>*>* {
    z-index: 1;
}

.col-md-4:hover,
.col-md-4>*:hover,
.col-md-4>*>*:hover {
    z-index: 111;
}

div a img:hover {
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 80%);
    transform: scale(1.2);
    transition: .3s ease-in-out;
}

nav.navbar {
    z-index: 1111;
}

iframe {
    width: -webkit-fill-available;
}


/* @media (max-width:1199px) {
    iframe {
        margin-left: -.5rem;
    }
}
@media (max-width:991px) {
    iframe {
        margin-left: -7rem;
    }
}
@media (max-width:767px) {
    iframe {
        margin-left: -7.3rem;
    }
} */

.over-hid {
    overflow-x: hidden;
}

.freebirdFormviewerViewNavigationPasswordWarning,
.freebirdFormviewerViewFooterEmbeddedBackground {
    display: none !important;
}

.qwe {
    font-weight: 400;
}

.qwe:hover {
    color: #171bd6;
    transition: 1s;
}

.qwe::before {
    transform: rotate(90deg) translate(30px, -27px);
    font-size: 110px;
    content: "»";
    position: absolute;
    animation-name: blink-hover;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    visibility: hidden;
    transition: 1s;
}

.qwe:hover::before {
    visibility: visible;
    transition: 1s;
}

@keyframes blink-hover {
    50% {
        opacity: 0;
    }
}

.cont-blick {
    display: inline;
    transition: 1s;
    margin-left: -20px;
}