body {
    text-align: center;
    background: #000000;
    font-family: sans-serif;
    font-weight: 100;
}

.countdown-title {
    color: #cf00cf;
    font-weight: 100;
    font-size: 65px;
    margin: 30px 0px 10px;
    font-family: 'CopyrightHouseIndustriesNotLicensedforDesktopUse';
}

.countdown {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

.countdown-number {
    padding: 10px;
    border-radius: 3px;
    display: inline-block;
    border: 12px double #792d00;
    border-radius: 20px;
    min-width: 1;
}

.countdown-time {
    padding: 15px;
    border-radius: 3px;
    background: #00816a;
    display: inline-block;
}

.countdown-text {
    display: block;
    padding-top: 5px;
    font-size: 16px;
}

.no-wrap {
    white-space: nowrap;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.inher {
    color: inherit;
}

.inher:hover {
    color: #7efc0000;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 277px;
    background-color: black;
    color: #0bbd06;
    text-align: start;
    /* border-radius: 6px; */
    /* padding: 5px 0; */
    position: absolute;
    z-index: 1;
    /* bottom: 126px; */
    /* left: 50%; */
    /* margin-left: -60px; */
    opacity: 0;
    transition: opacity .5s;
    right: -10px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}